body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  background-image: url("https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1Z9D0K.img?w=768&h=432&m=6");
  background-size: cover;      /* phủ kín màn hình */
  background-position: center; /* canh giữa */
  background-repeat: no-repeat;/* không lặp hình */

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

 .container{
    background:black;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 420px;
    animation: slideIn 0.5s ease-out;
}
